.weatherItem {
    width: 150px;
    height: 230px;
    border: #008F7A solid 3px;
    margin: 0 1rem;
}

.image {
    width: 70px;
    margin-top: 0;
}

h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: black;
}

p {
    font-size: 1.1rem;
    font-weight: bold;
}